DJANGO_SECRET_KEY='sqhz^u2zy@2l(+x+@ea6pe3l7vg6lvh8@ajra%dv67rpmc*34c'
DJANGO_DEBUG='true'
DJANGO_SUPERUSER_ADMIN='root'
DJANGO_SUPERUSER_EMAIL='admin@pdixbmqzjl.com'
DJANGO_SUPERUSER_PASSWORD='myVerySecretPassword'
IS_DEVELOPMENT_ENV='true'

APP_DATA='~/datashare'
DJANGO_STATIC_URL='/static/'
DJANGO_MEDIA_URL='/media/'
DJANGO_STATIC_ROOT='~/datashare_static'
DJANGO_MEDIA_ROOT='~/datashare_media'
DJANGO_LOGS_ROOT='~/applogs/matrcore'

MGDB_CONNECTION_STR='mongodb://outhouseapp:fkQ29c2EyFHGAYyVVYA@localhost:20202/ppcs_ohapp'
PROXY_PREFIX='/materials/controller'
ALLOWED_HOSTS='n1-1022-011232,n1-1022-011232.stengggrp.local'
ALLOWED_EMAIL_DOMAIN='stengg.com'

CELERY_BROKER_URL='redis://:password@localhost:6379/0'
CELERY_RESULT_BACKEND='redis://:password@localhost:6379/0'
CELERY_TASK_SOFT_TIME_LIMIT=600
CELERY_TASK_TIME_LIMIT=900