# Don't use this .env file directly.
# Better to use docker-compose.yml to set environment variables,
# so that you can use central variables i.e. ${PORT} to control
# the whole project from docker-compose.yml, rather than
# disconnected .env files.

# This is a reference for what environment variables are needed,
# put this variables in ./.env together with ./docker-compose.yml
# Use docker-compose.yml env variables to pass env variables into
# nginx build/env processes here.

# AVOID THESE NGINX VARIABLES because they will be substituted by
# envsubst, unintentionally!
# $HOST, $SCHEME, $URI

NGINX_STATIC_FOLDER=/datashare/www/static/
NGINX_MEDIA_FOLDER=/datashare/www/media/
NGINX_LOG_FOLDER=/applogs/nginx/

NGINX_PORT_HTTP=80
NGINX_PORT_HTTPS=443
