{% extends "common/dashboard-navbar.html" %}
{% block content %}
    <div class="container my-4">
        {% include "common/partials/title.html" %}
        {% include "common/partials/alerts.html" %}
        <div class="row py-2">
            <div class="col-12 pb-2">
                <h2 class="text-body-emphasis">Lorem Ipsum</h2>
                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
            </div>
        </div>
    </div>
{% endblock content %}
