{% extends "recon/navbar.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container my-4">
    {% include "common/partials/title.html" %}
    {% include "common/partials/alerts.html" %}
    <div class="row py-2">
      <div class="col-12 pb-2">
        <h2 class="text-body-emphasis">Hello World!</h2>
      </div>
      <div class="col-md-6">
        <h3 class="text-body-emphasis">[Extract] File Uploads</h3>
        <ul class="list-unstyled ps-0">
          <li>
            <i class="ph-fill ph-upload"></i>
            <a class="icon-link mb-1" href="{% url 'recon:hello_add' %}">New file upload</a>
          </li>
          <li>
            <i class="ph-fill ph-files"></i>
            <a class="icon-link mb-1" href="{% url 'recon:hello_list' %}">List of Past uploads</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
