{% extends "recon/navbar.html" %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load django_bootstrap5 %}
{% block content %}
  <div class="container mt-4">
    {% include "common/partials/title.html" %}
    {% include "common/partials/alerts.html" %}
    {% include "common/partials/component-accordion.html" %}
    <div class="row py-2">
      <span>
        <button class="btn btn-outline-secondary"
                id="refreshButton"
                onClick="javascript:history.go(0);">
          <i class="ph-fill ph-arrow-clockwise"></i> Refresh Table
        </button>
      </span>
    </div>
    <div class="row py-2]">{% render_table table %}</div>
  </div>
{% endblock content %}
